.gameover {
  font-family: var(--font-nosifer);
  color: rgb(106, 30, 30);
  font-size: 10em;
}

.gameoverButton {
  border: 2px solid rgba(106, 30, 30, 1);
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  background-color: rgba(106, 30, 30, 1);
  cursor: pointer;
  align-self: center;
}

.gameoverButton:hover {
  background-color: white;
  color: rgba(106, 30, 30, 1);
}

.gameoverForm {
  display: flex;
  flex-direction: column;
}
